<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.motomatrix">

    <!-- Internet permission for Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="motomatrix"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Firebase Cloud Messaging Configuration (If you plan to use FCM, you might need this) -->
        <!--
        <service
            android:name="io.flutter.plugins.firebase.messaging.FlutterFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Metadata for Flutter embedding version -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>
</manifest>
