<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.motomatrix">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="VINpedia"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"> <!-- Use AppTheme here for the application level theme -->

        <!-- MainActivity Configuration -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"> <!-- Use SplashTheme for the splash screen -->
            <!-- Specify the normal theme to switch to after the splash screen -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/AppTheme" /> <!-- Your normal AppTheme that extends NoActionBar -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter Engine Pre-warming (Optional) -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>
</manifest>
